<div class="card h-full">
    <div class="card-header">
        <h3 class="card-title">
            Répartition de mes lectures
        </h3>
    </div>
    <div id="radarChart" class="card-body flex flex-col gap-5" />
</div>

<script src="https://cdn.jsdelivr.net/npm/apexcharts@3.35.1"></script>

<script>
const categories = {{ categories|map(category => category.name)|json_encode|raw }};
const allBookReads = [
  {% for bookRead in readBookReads|merge(unreadBookReads) %}
    {
      rating: {{ bookRead.rating|json_encode|raw }},
      category: {{ bookRead.book.category.name|json_encode|raw }}
    }
    {% if not loop.last %},{% endif %}
  {% endfor %}
];

const data = categories.map(category => {
  // Filter bookReads by category
  const categoryBookReads = allBookReads.filter(bookRead => bookRead.category === category);

  // Return the average of the bookReads rating
  return categoryBookReads.reduce((accumulator, currentValue) => accumulator + parseFloat(currentValue.rating), 0) / (categoryBookReads.length || 1);
})

const options = {
  chart: {
    height: 400,
    type: 'radar'
  },
  yaxis: {
    min: 0,
    max: 5,
    tickAmount: 5, 
  },
  xaxis: {
    categories
  },
  series: [{
    name: "",
    data
  }]
};

const chart = new ApexCharts(document.getElementById("radarChart"), options);

chart.render();
</script>