<div class="modal" data-modal="true" id="comment_modal">
	<div class="modal-content">
		<div class="modal-header py-4 px-5">
			<h3 class="modal-title">Commentaires</h3>
		</div>
		<div class="modal-body p-0 pb-5">
			<div id="comment-table" class="scrollable-y-auto" data-scrollable="true" data-scrollable-max-height="auto" data-scrollable-offset="300px">
				<div data-datatable="true" data-datatable-page-size="5">
					<div class="scrollable-x-auto">
						<table class="table table-border" data-datatable-table="true">
							<thead>
								<tr>
									<th>
										<span class="sort asc">
											<span class="sort-label">Utilisateur</span>
											<span class="sort-icon"></span>
										</span>
									</th>
									<th class="min-w-[280px]">
										<span class="sort asc">
											<span class="sort-label">Commentaire</span>
											<span class="sort-icon"></span>
										</span>
									</th>
									<th class="min-w-[180px]">
										<span class="sort asc">
											<span class="sort-label">Envoyé le</span>
											<span class="sort-icon"></span>
										</span>
									</th>
									<th></th>
								</tr>
							</thead>
							<tbody></tbody>
						</tbody>
					</table>
				</div>
				{{ form_start(form) }}
				{{form_widget(form.content)}}
				{{form_widget(form.book_read)}}
				<button type="submit">
					<i class="ki-outline ki-message-add text-2xl"></i>
				</button>
				{{ form_end(form) }}

				<div id="form-messages" />
			</div>
		</div>
	</div>
</div>

<script>
document.getElementById('add-comment-form').addEventListener('submit', function (e) {
	e.preventDefault();

	const form = e.target;
	const formData = new FormData(form);

	fetch(form.action, {
			method: form.method,
			body: formData,
			headers: {
					'X-Requested-With': 'XMLHttpRequest', // tells it is AJAX request
			},
	})
	.then(response => {
			if (response.ok) {
					return response.json();
			}
			throw new Error('Ajout échoué');
	})
	.then(data => {
		const { toAdd, message } = data;

		const messageDiv = document.getElementById('form-messages');
		messageDiv.textContent = message;

		const tableBody = document.querySelector("#comment-table tbody");

		const row = document.createElement("tr");

		const createdAt = new Date(toAdd.created_at);
		const formatedCreatedAt = `${
			String(createdAt.getDate()).padStart(2, '0')
		}/${
			String(createdAt.getMonth() + 1).padStart(2, '0')
		}/${
			createdAt.getFullYear()
		} à ${
			String(createdAt.getHours()).padStart(2, '0')
		}:${
			String(createdAt.getMinutes()).padStart(2, '0')
		}`;

		row.innerHTML = `
			<td>
				${toAdd.user.email}
			</td>
			<td>${toAdd.content}</td>
			<td class="text-end">
				${formatedCreatedAt}
			</td>
		`;

		tableBody.appendChild(row);
	})
	.catch(error => {
			const messageDiv = document.getElementById('form-messages');
			messageDiv.textContent = error.message;
	});
})
</script>